* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "DM Sans", sans-serif;
}

html,
body {
    max-width: 100%;
    overflow-x: hidden;
}

body {
    background-color: #171717;
    color: #ffffff;
}

.primary {
    background-color: #22c55e;
    color: white;
    border: none;
    padding: 10px 30px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 1rem;
}

.primary:hover {
    background-color: #27ae60;
}

.secundary {
    background-color: transparent;
    border: 1px solid #a1a1a1;
    color: #e5e5e5;
    padding: 10px 30px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 1rem;
}

.secundary:hover {
    background-color: #1f1f1f;
}

header {
    width: 100%;
    height: 15vh;
    display: flex;
    justify-content: center;
}

.header-content {
    height: 100%;
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-content-hamburger {
    display: none;
}

nav {
    display: flex;
    gap: 30px;
}

nav a {
    text-decoration: none;
    color: white;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    overflow: hidden;
    min-height: 85vh;
}

.hero-content {
    display: flex;
    flex-direction: column;
    gap: 16px;
    max-width: 500px;
    padding-left: 80px;
    z-index: 2;
}

.hero-content h2 {
    font-size: 3rem;
    font-weight: 700;
    line-height: 1.7;
}

.hero-content h3 {
    color: #a1a1a1;
    font-weight: 400;
    font-size: 1.5rem;
}

.hero-content-btns {
    display: flex;
    gap: 20px;
    margin-top: 20px;
}

.hero-image {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    overflow: hidden;
}

.hero-image img {
    width: 520px;
    height: 520px;
    object-fit: cover;
    border-radius: 300px 0 0 300px;
}

.about-me {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 50px 0;
}

.about-me h2 {
    font-size: 1.7rem;
}

.about-me-parrafos {
    width: 90vw;
    max-width: 900px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.about-me-parrafos p {
    text-indent: 50px;
    text-align: center;
    font-size: 1.3rem;
}

.skills {
    overflow: hidden;
    padding: 40px 0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.skills-container {
    width: 80vw;
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow-x: hidden;
    border: 1px solid #22c55e;
    border-radius: 16px;
    padding: 20px 0;
}

.carrusel-track,
.carrusel-track2 {
    display: flex;
    width: max-content;
    animation: scroll-x 20s linear infinite;
}

.carrusel-track2 {
    display: none;
}

.carrusel-slide {
    display: flex;
    align-items: center;
    gap: 60px;
    padding: 0px 30px;
}

.carrusel-slide img {
    width: 150px;
    height: auto;
    transition: filter 0.3s ease;
}

.carrusel-slide img:hover {
    filter: grayscale(0%);
}

@keyframes scroll-x {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-50%);
    }
}

.proyectos {
    width: 100%;
    padding: 60px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.proyectos h2 {
    margin-bottom: 20px;
}

.proyectos-grid {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 100%;
}

.proyectos-grid-carrusel {
    position: relative;
    width: min(90vw, 1050px);
    overflow: hidden;
}

.proyectos-track {
    display: flex;
    will-change: transform;
}

.proyectos-card {
    flex: 0 0 50%;
    max-width: 50%;
    display: flex;
    flex-direction: column;
    height: 350px;
    border: 1px solid #22c55e;
    border-radius: 16px;
    padding: 10px;
    gap: 10px;
    background-color: #1b1b1b;
}

.proyectos-card img {
    width: 100%;
    height: 240px;
    object-fit: cover;
    border-radius: 16px 16px 0 0;
}

.proyectos-card h3 {
    text-align: center;
}

.proyectos-card-btns {
    display: flex;
    justify-content: space-around;
}

.proyectos-grid-btns {
    background-color: #171717;
    border: none;
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.proyectos-grid-btns img {
    width: 100%;
    height: 100%;
}

.proyectos-grid-btns:hover {
    cursor: pointer;
    transform: scale(1.2);
}

.proyectos-dots {
    display: flex;
    gap: 10px;
    justify-content: center;
}

.proyectos-dot {
    width: 12px;
    height: 12px;
    background-color: white;
    border-radius: 50%;
    cursor: pointer;
}

.proyectos-dot.active {
    background: #22c55e;
}

.contacto {
    width: 100%;
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.contacto-form {
    width: 80vw;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contacto-form-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
}

.contacto-form-grid input {
    max-height: 40px;
    border: none;
    border-bottom: #a1a1a1 solid 1px;
    background-color: #171717;
    color: white;
    padding-left: 30px;
    font-size: 1.1rem;
}

.contacto-form textarea {
    height: 80px;
    border: #a1a1a1 solid 1px;
    background-color: #171717;
    color: white;
    padding: 10px 30px;
    font-size: 1.1rem;
}

footer {
    width: 100%;
    padding: 20px 0;
    text-align: center;
    font-size: 0.9rem;
}

@media (max-width: 768px) {
    .header-content-hamburger {
        display: block;
    }

    nav {
        display: none;
    }

    .hero {
        flex-direction: column;
        padding: 100px 20px;
        text-align: center;
    }

    .hero-content {
        padding-left: 0;
        align-items: center;
    }

    .hero-image {
        display: none;
    }

    .skills-container {
        width: 100%;
        border: none;
    }

    .carrusel-track2 {
        display: flex;
    }


    .proyectos-card {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .proyectos-grid-btns {
        display: none;
    }

    .proyectos-dot {
        width: 10px;
        height: 10px;
    }

    .contacto-form-grid {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 480px) {
    .hero-content h2 {
        font-size: 1.8rem;
    }

    .hero-content h3 {
        font-size: 1.2rem;
    }

    .hero-content-btns {
        flex-direction: column;
        gap: 10px;
    }

    .about-me-parrafos p {
        text-indent: 0;
        font-size: 1rem;
    }

    .skills-container {
        width: 95vw;
    }

    .carrusel-slide img {
        width: 80px;
    }

    .proyectos {
        padding: 40px 0;
    }

    .contacto-form {
        width: 90vw;
    }

    footer {
        padding: 10px 0;
    }
}